{% extends 'index.html' %}
{% block title %}<title>경복궁</title>{% endblock title %}
{% block mycss %}
<style>
* {font-family: 'arirang';}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'arirang';font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

<!-- 추가  css -->
.py-5 h1{
font-family : 'arirang';
}

.py-5 p, .py-5 h2 {
font-family : 'arirang';

}.fs-7 {
  font-size: 0.8rem !important;
}

.py-5 a{
text-decoration-line: none;
font-family : 'arirang';
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: white;
    opacity : 0.8;
}
.dropdown-menu li a{
    text-decoration-line: none;
    color : black;
    font-size : 1.4em
}
<!-- 추가  css 끝-->
</style>
{% endblock mycss %}
{% block content %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a style="font-family:'arirang_basic';color:black" class="navbar-brand" href="/">HANGUNG</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown"><a style="color:black" class="nav-link" href="#Information">궁</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCategoryMenu">
                                <li><a href="/gungapp/gyungbokgung/"> 경복궁</a></li>
                                <li><a href="/gungapp/changdukgung/"> 창덕궁</a></li>
                                <li><a href="/gungapp/changgyunggung/">창경궁</a></li>
                                <li><a href="/gungapp/duksugung"> 덕수궁</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a style="color:black" class="nav-link" href="#rentalmap">한복대여점</a></li>
                        <li class="nav-item"><a style="color:black" class="nav-link" href="#cafeteria">카페</a></li>
                        <li class="nav-item"><a style="color:black" class="nav-link" href="/forum/">게시판</a></li>
                        <li class="nav-item ">
                            {% if user.is_authenticated %}
                            <a style="color:black" class="nav-link" href="{% url 'common:logout' %}?next={{ request.path }}">{{ user.username }} (로그아웃)</a>
                            {% else %}
                            <a style="color:black" class="nav-link" href="{% url 'common:login' %}?next={{ request.path }}">로그인</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div id="google_translate_element" class="hd_lang"></div>
                <script>
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'ko',
                            includedLanguages: 'en,zh-CN,zh-TW,ja,fr',
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                            autoDisplay: false
                        }, 'google_translate_element');
                    }
                </script>
                <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
        </nav>
{% endblock %}


{% block main-top %}
        <!-- 가저가야할 부분 시작 -->
        <!-- 메인 상단-->
        <p><br><br></p>
        <section class="py-5" id="page-top">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-4">
                        <h1 class="display-5 fw-bolder align-items-left">경복궁</h1>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-8"><img class="card-img-top mb-5 mb-md-0" src="https://blog.hmgjournal.com/images_n/contents/170523_Gwanghwamun01.png" alt="..." />
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead2 fw-bolder fs-7" >주소</p>
                                <p class="fs-7">(우: 03045) 서울특별시 종로구 사직로 161</p>
                            </div>
                            <div class="col-md-6">
                                <p class="lead2 fw-bolder fs-7">전화번호</p>
                                <p class="fs-7">(02) 3700 - 3900~1</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="lead fw-bolder" >관람시간</p><br>
                        <p>09:00 ~ 20:00 (화요일 휴궁)</p>
                        <p>21:00 시까지 야간 상시관람</p><br>
                        <p class="lead fw-bolder">수문장 교대의식</p>
                        <p>10시, 14시 / 1일 2회 / 소요시간 20분</p><br>
                        <p class="lead fw-bolder" >주변 역 및 교통편</p><br>
                        <p>3호선 경복궁역 5번출구 도보 5분</p>
                        <p>5호선 광화문역 2번출구 도보 약 10분</p>
                        <p class="fw-bolder">도착 버스 노선</p>
                        <p>경복궁 남측 : 109, 171, 272, 601, 606, 1020, 7025 </p>
                        <p>경복궁 서측 : 1020, 1711, 7016, 7018, 7022, 7212, 6011, 9703</p><br>


                        <div class="d-flex">
                            <a href="https://www.royalpalace.go.kr/content/guide/guide01_tab03.asp"> <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                예약하기
                            </button>
                            </a>
                            <a href="https://www.royalpalace.go.kr/"> <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                경복궁 홈페이지
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 메인 상단 끝-->
        <!-- 사진 및 설명 시작-->
        <section class="py-5 bg-light" id="photo">
            <div class="container px-4 px-lg-5 mt-5">

                <div class="container px-4 px-lg-5 my-5">
                                    <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-8">
                        <h2 class="fw-bolder mb-4">사진</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="fw-bolder mb-4">경복궁 설명</h2>
                    </div>
                </div>
                    <div class="row gx-2 gx-lg-5 align-items-center">
                        <div class="col-md-8">

                            <div class="row gx-3 gx-lg-3 row-cols-2 row-cols-md-2 ">

                                <div class="col mb-5">
                                    <img class="card-img-top" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTYu-Yhm4ksWMrekxJvMDWaJoTQZpyP9nDLtDlNTsr7xpZPjGNH" onclick="window.open('https://www.naver.com/');" alt="..." />
                                </div>
                                <div class="col mb-5">
                                    <img class="card-img-top" src="https://pds.joins.com/news/component/htmlphoto_mmdata/201907/25/5382f90c-64ac-408d-a415-b6b3ebae6140.jpg" onclick="window.open('https://pds.joins.com/news/component/htmlphoto_mmdata/201907/25/5382f90c-64ac-408d-a415-b6b3ebae6140.jpg');" alt="..." />
                                </div>
                                <div class="col mb-5">
                                    <img class="card-img-top" src="/static/asset/gyeongbokgung1.jpg" onclick="window.open('/static/asset/gyeongbokgung1.jpg');" alt="..." />
                                </div>
                                <div class="col mb-5">
                                    <img class="card-img-top" src="https://pbs.twimg.com/media/B5Q3j5DCAAAgoPY?format=jpg&name=large" onclick="window.open('https://pbs.twimg.com/media/B5Q3j5DCAAAgoPY?format=jpg&name=large');" alt="..." />
                                </div>
                                <div class="col mb-5">
                                    <img class="card-img-top" src="https://t1.daumcdn.net/tistoryfile/fs16/24_tistory_2010_07_11_23_12_4c39d1424034a?original" onclick="window.open('https://t1.daumcdn.net/tistoryfile/fs16/24_tistory_2010_07_11_23_12_4c39d1424034a?original');" alt="..." />
                                </div>
                                <div class="col mb-5">
                                    <img class="card-img-top" src="/static/asset/gyeongbokgung2.jpg" onclick="window.open('/static/asset/gyeongbokgung2.jpg');" alt="..." />
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">

                            <p> 경복궁은 조선 왕조 제일의 법궁입니다. 북으로 북악산을 기대어 자리 잡았고 정문인 광화문 앞으로는 넓은 육조거리(지금의 세종로)가 펼쳐져, 왕도인 한양(서울) 도시 계획의 중심이기도 합니다.</p><br>
                            <p> 1395년 태조 이성계가 창건하였고, 1592년 임진 왜란으로 불타 없어졌다가, 고종 때인 1867년 중건 되었습니다. 흥선대원군이 주도한 중건된 경복궁은 500여 동의 건물들이 미로같이 빼곡히 들어선 웅장한 모습 이었습니다. 궁궐 안에는 왕과 관리들의 정무 시설, 왕족들의 생활 공간, 휴식을 위한 후원 공간이 조성되었습니다. </p><br>
                            <p> 서울의 중심이고 조선의 으뜸 궁궐인 경복궁에서 격조 높고 품위 있는 왕실 문화의 진수를 맛보시기 바랍니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 사진 및 설명 종료 -->
        <!-- 지도 시작 -->
        <section class="py-5" id="mainmap">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <h2 class="fw-bolder mb-4">내부지도</h2>
                    </div>
                    <div class="col-md-6">
                        <h2 class="fw-bolder mb-4">근방지도</h2>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img style="height:500px;" class="card-img-top mb-5 mb-md-0" src="https://www.royalpalace.go.kr/content/guide/images/guide04_zoom.jpg" onclick="window.open('https://www.royalpalace.go.kr/content/guide/images/guide04_zoom.jpg');" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div id="map" style="width:100%;height:500px;position:relative;overflow:hidden;"></div>
	                        <script  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=11ff8db05b8a452d6fbbbff92d068209&libraries=services"></script>
	                    <script>
		                    var container = document.getElementById('map');
		                    var options = {
			                center: new kakao.maps.LatLng(37.579634, 126.977599),
			                level: 5
		                    };

		                    var map = new kakao.maps.Map(container, options);
	                    </script>
                    </div>
                </div>
            </div>
        </section>
        <!-- 지도 종료 -->
{% endblock main-top%}


{% block rentalmap %}
<section class="py-5 bg-light" id="rentalmap">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
            <h2 style="color: black;">{{gung}} 근처 한복 대여점 지도</h2>
            <!-- 지도 -->
            <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="map_wrap">
                        <div id="menu_wrap" class="bg_white">
                            {{gung}} 한복 대여점
                            <hr>
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                   </div>
                </div>
                <div class="col-md-8 mt-5">
                    <div id="map1" style="width:100%;height:475px;position:relative;overflow:hidden;"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<script>
var markers = [];

var mapContainer = document.getElementById('map1'),
    mapOption = {
        center: new kakao.maps.LatLng(37.580001487638526, 126.97694064105475),
        level: 5
    };

var map1 = new kakao.maps.Map(mapContainer, mapOption);

var ps = new kakao.maps.services.Places();

var infowindow = new kakao.maps.InfoWindow({zIndex:1});

searchPlaces();

function searchPlaces() {

    var keyword = '경복궁 한복 대여점';

    ps.keywordSearch( keyword, placesSearchCB);
}

function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        displayPlaces(data);

        displayPagination(pagination);

    }
}

function displayPlaces(places) {

    var listEl = document.getElementById('placesList'),
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(),
    bounds = new kakao.maps.LatLngBounds(),
    listStr = '';

    removeAllChildNods(listEl);

    removeMarker();

    for ( var i=0; i < places.length; i++ ) {

        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i),
            itemEl = getListItem(i, places[i]);

        bounds.extend(placePosition);

        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            itemEl.onmouseover =  function () {
                displayInfowindow(marker, title);
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name);

        fragment.appendChild(itemEl);
    }

    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    map1.setBounds(bounds);
}

function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>';
    }

      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
}

function addMarker(position, idx, title) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png',
        imageSize = new kakao.maps.Size(36, 37),
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691),
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10),
            offset: new kakao.maps.Point(13, 37)
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position,
            image: markerImage
        });

    marker.setMap(map1);
    markers.push(marker);

    return marker;
}

function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }
    markers = [];
}

function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i;

    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
}

function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map1, marker);
}

function removeAllChildNods(el) {
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
}
</script>
{% endblock rentalmap %}


{% block cafeteria %}
<section class="py-5" id="cafeteria">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4">
                    <h2 class="fw-bolder mb-4">지도</h2>
                </div>
                <div class="col-md-8">
                    <h2 class="fw-bolder mb-4">cafe</h2>
                </div>
            </div>
            <div class="row gx-2 gx-lg-5 align-items-start">
                <div class="col-md-4">
                     <div id="map2" style="width:100%;height:450px;"></div>
                    <script>
                    var mapContainer = document.getElementById('map2'),
                        mapOption = {
                            center: new kakao.maps.LatLng(37.580001487638526, 126.97694064105475),
                            level: 6
                        };

                    var map2 = new kakao.maps.Map(mapContainer, mapOption);

                    function ChangeMark(p){
                    var mapContainer = document.getElementById('map2'),
                        mapOption = {
                            center: new kakao.maps.LatLng(37.580001487638526, 126.97694064105475),
                            level: 6
                        };
                    var map2 = new kakao.maps.Map(mapContainer, mapOption);

                    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png',
                        imageSize = new kakao.maps.Size(32, 35),
                        imageOption = {offset: new kakao.maps.Point(27, 69)};
                    var markerImage = new kakao.maps.MarkerImage('https://cdn.iconscout.com/icon/premium/png-512-thumb/cafe-location-2-802178.png', imageSize, imageOption);
                    if (p === '브루다') {
                        markerPosition = new kakao.maps.LatLng(37.57222813257555, 126.98319573924597);
                    }
                    else if (p === '꽃') {
                        markerPosition = new kakao.maps.LatLng(37.57455876784484, 126.98357935458986);
                    }
                    else if (p === '올모스트 홈') {
                        markerPosition = new kakao.maps.LatLng(37.57955746876616, 126.98203584691909);
                    }
                    else if (p === '카페포엠') {
                        markerPosition = new kakao.maps.LatLng(37.57946153643867, 126.98377178157433);
                    }
                    else if (p === '테사로사') {
                        markerPosition = new kakao.maps.LatLng(37.578982040049134, 126.98019501754445);
                    }
                    else if (p === '호아드') {
                        markerPosition = new kakao.maps.LatLng(37.578316227822455, 126.98109766808223);
                    }
                    else if (p === '가배도') {
                        markerPosition = new kakao.maps.LatLng(37.58043102431842, 126.9821277269256);
                    }
                    else if (p === '와이엔') {
                        markerPosition = new kakao.maps.LatLng(37.579326525860786, 126.9833010680822);
                    }

                    function removeMarker() {
                        for ( var i = 0; i < markers.length; i++ ) {
                            markers[i].setMap(null);
                        }
                        markers = [];
                    }

                    var marker = new kakao.maps.Marker({
                        position: markerPosition,
                        image: markerImage
                        });
                    marker.setMap(map2);
                    };
                    </script>
                </div>
                <div class="col-md-8" style="text-align:center;">
                    <div class="container px-4 px-lg-5">
                     <div class="row gx-3 gx-lg-3 row-cols-2 row-cols-md-4">
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('브루다')" style="width:100%;height:200px;">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://mblogthumb-phinf.pstatic.net/MjAyMDEwMTBfMTkz/MDAxNjAyMzIxOTg2NjE0.s6DiWDTbTu6HC2Y3wAOCU-pzbdg5aYLE_6x-MEuVPgog.emq9nByI_g1nt0_sMftTz8E8xKCgXUveFC9yxUztGXcg.JPEG.wlsrhkd4023/IMG_2053.jpg?type=w800" style="width:100%;height:100px;"></p>
                                        <p class="card-link">브루다</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('꽃')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="http://www.menupan.com/common/service/img_proxy.asp?src=https%3A%2F%2Fpostfiles.pstatic.net%2FMjAyMDA1MThfMjM2%2FMDAxNTg5NzY5NjgyMzM1.vkC9E1Dc5q9Yq2oGzgLaluV0F8Dlv-wNMD1r_LUcMIIg.zL-cGO9-x2jlXkWFLjWrSzsSX10G9Zx9etYU61maOhMg.JPEG.dan9199%2FSE-a0e4bb47-5922-4e3c-b507-3d506f4455fa.jpg%3Ftype%3Dw966" style="width:100%;height:100px;"></p>
                                        <p class="card-link">담장옆에국화꽃CCOT</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('올모스트 홈')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://cafecurator.com/wp-content/uploads/2019/04/P20190323_105412523_C03AEC07-54E0-4B11-A420-C621A8059600.jpg" style="width:100%;height:100px;"></p>
                                        <p class="card-link">올모스트홈 카페</p>
                                    </div>
                                </button>
                            </div>
                             <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('카페포엠')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://t1.daumcdn.net/cfile/tistory/172BC84F5175586310" style="width:100%;height:100px;"></p>
                                        <p class="card-link">카페포엠</p>
                                    </div>
                                </button>
                            </div>
                     </div>
                    </div>
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-3 gx-lg-3 row-cols-2 row-cols-md-4">
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('테사로사')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://mblogthumb-phinf.pstatic.net/MjAyMTA1MTJfMjMy/MDAxNjIwODI1NTgyOTE2.aYjsfbTI1wlmFnPs6YFvEmd3lDOi7NaYVIGnyKlztD8g.qrd0SZljx2I-bfd5_dYdCf60XtLrG8PT1GoCCT2cPKEg.JPEG.squidance/01.JPG?type=w800" style="width:100%;height:100px;"></p>
                                        <p class="card-link">테사로사</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('호아드')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://a-mont.com/web/upload/NNEditor/20180508/3_shop1_134525.jpg" style="width:100%;height:100px;"></p>
                                        <p class="card-link">호아드 카페&갤러리</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('가배도')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA5MjJfMTUz/MDAxNTY5MDc5ODI4OTYz.TLluOAKfIJ5g2YArOn-J2GsBnREzXUeeDFd34qVNqYEg.Pe1VbTzgK6PDERYbe0alPNcDH-f8TrgJKLoIsBKhIZsg.JPEG.artraving/1.jpg?type=w800" style="width:100%;height:100px;"></p>
                                        <p class="card-link">가배도</p>
                                    </div>
                                </button>
                            </div>
                             <div class="col-md-3">
                                <button class="card1" onclick="ChangeMark('와이엔')" style="width:100%;height:200px">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"><img src="http://appdata.hungryapp.co.kr/images/hatdog/ar/2021_05/M162037609839494222.jpg" style="width:100%;height:100px;"></p>
                                        <p class="card-link">와이엔</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock cafeteria %}
